<!DOCKTYPE html>
<style>
body {
    background-color: #71c9fc;
}
h1 {
    color: white;
    text-align: center;
}
.row{
    height: 40px;
    text-align: right;
}
.col-sm-6{
  height: 50px;
}
.date{
    text-align: center;
}
</style>
<body>
<h1>CALENDAR</h1>
<FORM>
  Tarih: <INPUT TYPE="date" NAME="starting_date"> <INPUT TYPE="submit">
</FORM>
<%starting_date =params.fetch(:starting_date,Date.today).to_date%>
<%date_range= (starting_date.beginning_of_month.beginning_of_week..starting_date.end_of_month.end_of_week).to_a %>
<Br/>
<Br/>
<%= link_to "Previous", starting_date: date_range.first - 1.day %>
<%= I18n.t("date.month_names")[starting_date.month] %> <%= starting_date.year %>
<%= link_to "Next", starting_date: date_range.last + 1.day %>

<table class="table">
  <thead>
    <tr>
      <% date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% date_range.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
      <td>
        <%=day.strftime("%d")%>
        <Br/>
        <% @appointments.select{ |appointment| appointment.start_date.to_date == day }.sort_by(&:start_time).each do |appointment| %>
<div><%= link_to appointment.title, appointment_path(appointment) %></div>
        <% end %>
        <Br/>
        <Br/>
        <Br/>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'My Appointments', controller: 'appointments' %>
</body>
