<!DOCTYPE html>

<style>

body {
    background-color: #c0c3c5;
}
h1 {
    color: white;
    text-align: center;
}
.container-fluid{
    color: #5f6d6e;
}


.row{
    height: 40px;
    text-align: right;
}
.col-sm-6{
  height: 50px;
}
.date{
    text-align: center;
}
</style>

<body>
<h1>CALENDAR</h1>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EMMA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <%= link_to 'My Appointments', controller: 'appointments' %> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-right" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </div>
</nav>





<FORM>
  Tarih: <INPUT TYPE="date" NAME="starting_date" VALUE="<%= Time.now.strftime('%Y-%m-%d') %>" /> <INPUT TYPE="submit">
</FORM>



<%starting_date =params.fetch(:starting_date,Date.today).to_date%>
<%date_range= (starting_date.beginning_of_month.beginning_of_week..starting_date.end_of_month.end_of_week).to_a %>
<%= link_to "Previous", starting_date: date_range.first - 1.day %>
<%= link_to "Next", starting_date: date_range.last + 1.day %>

<Br/>
<Br/>
<%= I18n.t("date.month_names")[starting_date.month] %> <%= starting_date.year %>
<Br/>

<table class="table">
  <thead>
    <tr>
      <% date_range.slice(0,7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% date_range.each_slice(7) do |week| %>
    <tr>
      <% week.each do |day| %>
      <td>
            <%=day.strftime("%d")%>
        <Br/>
        <% @appointments.select{ |appointment| appointment.start_date.to_date == day }.sort_by(&:start_time).each do |appointment| %>
<div><%= link_to appointment.title, appointment_path(appointment) %></div>
        <% end %>
        <Br/>
        <Br/>
        <Br/>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

</body>
