<style>
  .title{
    padding-left: 50px;
  }
  .title_field{
    padding-left: 100px;
  }
  .note{
    padding-left: 50px;
  }
  .start_date{
    padding-left: 50px;
  }
  .start_time{
    padding-left: 50px;
  }
  .end_date{
    padding-left: 50px;
  }
  .end_time{
    padding-left: 50px;
  }
</style>
<%= form_with model: @appointment, local: true do |form| %>

<% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@appointment.errors.count, "error") %> prohibited
        this appointment from being saved:
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="title">
<p>
  <%= form.label :title %>
</p >

  <%= form.text_field :title %>
</div>
<p class="note">
  <%= form.label :note %>
  <%= form.text_area :text %>
</p>

<p class="start_date">
  <%= form.label :start_date %>
  <%= form.text_field :start_date, type: :date, id: :"theSDate", onChange: :"jsSetDatesfunction()" %>
</p>

<p class="start_time">
  <%= form.label :start_time %>
  <%= form.text_field :start_time, type: :time, id: :"theSTime", onChange: :"jsSetTimefunction()" %>
</p>

<p class="end_date">
  <%= form.label :end_date %>
  <%= form.text_field :end_date, type: :date, id: :"theEDate", onChange: :"jsSetDatesfunction()" %>

</p>

<p class="end_time">
  <%= form.label :end_time %>
  <%= form.text_field :end_time, type: :time, id: :"theETime", onChange: :"jsSetTimefunction()"%>
</p>



  <p>
    <%= form.submit %>
  </p>

<% end %>
