<%= form_with model: @appointment, local: true do |form| %>

<% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@appointment.errors.count, "error") %> prohibited
        this appointment from being saved:
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :note %><br>
  <%= form.text_area :text %>
</p>

<p>
  <%= form.label :start_date %><br>
  <%= form.text_field :start_date, type: :date, id: :"theSDate", onChange: :"jsSetDatesfunction()" %>
</p>

<p>
  <%= form.label :start_time %><br>
  <%= form.text_field :start_time, type: :time, id: :"theSTime", onChange: :"jsSetTimefunction()" %>
</p>

<p>
  <%= form.label :end_date %><br>
  <%= form.text_field :end_date, type: :date, id: :"theEDate", min: :start_date %>

</p>

<p>
  <%= form.label :end_time %><br>
  <%= form.text_field :end_time, type: :time, id: :"theETime" %>
</p>

  <p>
    <%= form.submit %>
  </p>



<% end %>
