<style>

body {
    background-color: #c0c3c5;
}
h1 {
    color: white;
    text-align: center;
}
.container-fluid{
    color: #5f6d6e;
}


.row{
    height: 40px;
    text-align: right;
}
.col-sm-6{
  height: 50px;
}
.date{
    text-align: center;
}
</style>
<body>
<h1>Listing Appointments</h1>

<%= link_to 'New Appointment', new_appointment_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Note</th>
    <th>Start Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>End Date</th>
    <th></th>
  </tr>

  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.title %></td>
      <td><%= appointment.text %></td>
      <td><%= appointment.start_date %></td>
      <td><%= appointment.start_time %></td>
      <td><%= appointment.end_date %></td>
      <td><%= appointment.end_time %></td>
      <td><%= link_to 'Show', appointment_path(appointment) %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      <td><%= link_to 'Destroy', appointment_path(appointment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Home', root_path %>
</body>
