<p>
  <strong>Title:</strong>
  <%= @appointment.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.text %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @appointment.start_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @appointment.end_date %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @appointment.end_time %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Home', root_path %>
